<div class="container-fluid">
  <div ng-show="$ctrl.showlogin">
  <form novalidate class="simple-form">
    <input type="text" ng-model="user.name"/>
    <input type="submit" ng-click="$ctrl.login(user)" value="Save" />
  </form>
</div>
  <div class="row">
    <div ng-hide="$ctrl.showlogin">
      <div class="col-md-10">
        <ul class="messages">
          <li ng-repeat="message in $ctrl.messages | filter:$ctrl.query "
              class="thumbnail message-list-item">
            <p>{{message.content}}</p>
          </li>
        </ul>
        <form novalidate class="simple-form">
          <input type="text" ng-model="message.content"/>
          <input type="submit" ng-click="$ctrl.sendmessage(message)" value="Save" />
        </form>
      </div>
    </div>
  </div>
</div>
